;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
  [[org.clojure/core.match "1.1.0"]
   [org.clj-commons/hickory "0.7.7"]
   [funcool/promesa "11.0.678"]]

 :builds
  {:app {:target :node-script
         :main gay.block36.mfm.main/init
         :output-to "target/mfmc.js"}
   :shiki
    {:target :node-library
     :output-to "target/shiki-server.js"
     :exports-var gay.block36.mfm.shiki/shiki-server}}}
